<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../layout/head.ejs')%>
</head>

<body>

    <header>
        <%-include('../layout/header.ejs')%>
    </header>




    <div id="container">
        <%data.forEach(val=>{%>


        <section>
            <h2><%=val.title%></h2>
            <img src="<%=val.poster_path%>" alt="">
            <form action="/addtolist" method="POST">
                <input type="text" name="title" value="<%=val.title%>" style="display: none;">
                <input type="text" name="poster_path" value="<%=val.poster_path%>"style="display: none;">
                <input type="text" name="motv_id" value="<%=val.motv_id%>"style="display: none;">
                <input type="text" name="vote_count" value="<%=val.vote_count%>"style="display: none;">
                <input type="text" name="overview" value="<%=val.overview%>"style="display: none;">
    
                <button>add to my list</button>
            </form>
        </section>



        

        <%})%>
    </div>
</body>

</html>